<ion-app>
  <app-menu *ngIf="showAuthenticatedChrome"></app-menu>

  <div
    [class]="appShellClass"
    id="main-content"
  >
    <app-header *ngIf="showAuthenticatedChrome" [title]="headerTitle" [icon]="headerIcon"></app-header>

    <ion-content class="app-main" [fullscreen]="true">
      <app-refresher slot="fixed" [isRefreshing]="isRefreshing" (ionRefresh)="handleRefresh($event)">
      </app-refresher>
      <ion-router-outlet [class.safe-area-content]="showAuthenticatedChrome"></ion-router-outlet>
    </ion-content>

    <app-bottom-tab-bar *ngIf="showAuthenticatedChrome"></app-bottom-tab-bar>
  </div>
</ion-app>
